* {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 1rem;
  cursor: pointer;
  background: #f4f6f8;
}
